#page {width: 99vw; margin: 0 auto;}
header {width: 100%; margin: 0 auto;}
.mainText {float: left; margin-left: 5rem ;}
.subMenu {float: right; margin-right: 5rem;}
.subMenu li {display: inline-block;}